aws_profile      = "aws-basic-lab"
aws_region       = "ap-southeast-1"
student_name     = "yourname"
allowed_ssh_cidr = "YOUR_PUBLIC_IP/32"
db_password      = "ChangeMeLab123!"
# Use TF_VAR_db_password in shell instead of committing:
# export TF_VAR_db_password='YourStrongPassword'
